<div class = "banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "banner.png" %>')">
  <div>
    <h1><%=@category.name %></h1>
  </div>
</div>

<div class ="info-container" >
  <h3>Recipes</h3>
  <%= link_to "Add a Recipe", new_category_bookmark_path(@category), class:"btn btn-warning mx-3" %>
</div>

<div class="bookmark-container">

  <% @category.bookmarks.each do |bookmark| %>

    <div class="bookmark-cards">

      <%= link_to bookmark_path(bookmark),
      data: { turbo_method: :delete,
      turbo_confirm: "Are you sure you want to remove #{bookmark.recipe.name}
      from your #{@category.name} list"}, class: 'btn-delete' do %>

          <i class="fa-solid fa-trash"></i>
      <% end %>

      <img src=<%= bookmark.recipe.image_url %> alt="image of recipe">

      <div class="recipe-info">
        <h4><%= bookmark.recipe.name %></h4>
        <p><%= bookmark.recipe.description.truncate(100) %></p>
      </div>

      <div class="card-info">
        <div class="comment">
          <p><i class="fa-solid fa-quote-left me-2"></i><%= bookmark.comment %></p>
        </div>
        <div class="rating">
          <%= bookmark.recipe.rating %>
          <%= '⭐️' * bookmark.recipe.rating %>
        </div>
      </div>


    </div>

  <% end %>
</div>

<div class="review-container">
  <h2>Reviews</h2>
  <ul class= "list-unstyled">
    <% @category.reviews.each do |review| %>
      <li><% (1..5).each do |star| %>
        <% if review.rating >= star %>
          <i class="fa fa-star filled-star"></i>
        <% else %>
          <i class="fa fa-star-o empty-star"></i>
        <% end %>
      <% end %>
      </li>
      <li ><%= review.comment %>
      <%= link_to " |Delete", review_path(review),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove your review from your #{@category.name} list"}%> </li>
    <% end %>
  </ul>
</div>

<div class="d-flex justify-content-end">
  <p class="btn btn-primary mx-3" ><%= link_to "Add a review", new_category_review_path(@category) %></p>
</div>
