<div class="form-new mt-5">
  <h1>Add a new Review</h1>

  <%= simple_form_for [@category, @review] do |f| %>
    <%= f.input :comment, as: :text, label: "Comments" %>
    <div class="star-rating">
      <% 5.downto(1) do |i| %>
        <%= f.radio_button :rating, i, id: "star#{i}" %>
        <label for="star<%= i %>" title="<%= i %> stars">
          &#9733;
        </label>
      <% end %>
    </div>
    <%= f.submit class: "btn btn-warning d-flex justify-content-bottom mt-2" %>
  <% end %>
</div>
